
.wrap{width: 1200px;margin: 10px auto;padding-left: 10px; margin-bottom: 50px;line-height: 1.4em;}

.comWidth{width: 1200px;}


/*header文件*/
#header{height: 70px;}
#header .logo img{width: 248px;height: 49px;background: url(../images/logo.jpg) 0 0 no-repeat;
	margin:25px 32px 0 30px;}
#header .login_register{margin-bottom: 8px;margin-right : 20px;float: right;}
#header .nav_list{margin-top: 9px;}
#header .nav_list li{float: left;}
#header .nav_list li a{color: #555;padding:9px 16px;margin-left: 17px; }
#header .nav_list li a:hover{color: #3498db;}
#header .nav_list .hidden_nav{position: relative;background: url(../images/icon/arrow.jpg) no-repeat right center;}
#header .nav_list .hidden_nav:hover{background: url(../images/icon/arrow1.jpg) no-repeat right center;}
#header .nav_list .hidden_nav ul{position: absolute;top: 30px;left: 0px;z-index: 2;display: none;}
#header .nav_list .hidden_nav ul li{background: #fff;}
#header .nav_list .hidden_nav ul a{width: 120px;height: 20px;background: #fff;display: block;}
#header .nav_list .active{}


/*index页面的内容*/
#wrap_content{width: 90%;margin: 10px auto;}
#content{position: relative;width: 75%;min-height:800px;}
#content .info{margin-bottom: 30px;}
#content .title{color: #3498db;font-size: 24px;
border-bottom: 1px solid #f3f3f3;padding: 10px;margin-bottom: 10px;}
#content .entry{font-size: 16px;color: #000;border-left:4px solid #B9B9B9;padding-left:1em;line-height: 1.4em;}

#content .entry p{text-indent: 2em;text-align: justify;}

#content a{color: #3498db;}

#side_bar{margin-top: 50px;}
#side_bar ul{border: 1px solid rgb(185, 185, 185);border-radius: 5px;}
#side_bar li{padding: 5px;border-bottom:1px solid rgb(185, 185, 185);text-align: center;}
#side_bar .side_bar_title{color: #3498db;text-align: center;}


/*Problem模块detail页面*/
.detail .wrap_title{margin-bottom: 20px;padding-bottom: 0; border-bottom: 1px dotted #e4e9f0;display: block; }
.detail .title{display: inline-block;border-bottom: 3px solid #3498db;font-size: 22px;font-weight: normal;padding-bottom: 5px;color: #555;}
.detail .wrap_title p{text-align: justify;}

.problem_title{margin-top:50px;margin-bottom: 30px; padding-bottom: 20px; border-bottom: 1px solid #ddd;}
.problem_title h2{font-size: 30px;color: #585f69;font-weight: normal;}

.problem_info{margin-bottom: 30px;}
.problem_info li{float: left; }
.problem_info .head{border-bottom: 1px solid #ddd;}
.problem_info .head li{min-width: 170px;padding-bottom:10px; width:25%;}
.problem_info .body li{min-width: 170px;padding-top: 10px;width:25%;}

.problem_menu_list{width: 1100px;margin-bottom: 20px; }
.problem_menu_list ul{margin: 30px auto;text-align: center;width: 230px;}
.problem_menu_list li{float: left;}
.problem_menu_list a{border-radius: 5px;padding: 10px 20px;background: #428BCA;margin-right: 10px;color: #fff;}
.problem_menu_list a:hover{background: #eee;color: #000;}

.problem_description{margin-bottom: 20px;}
.problem_description p{text-indent: 2em;}
.problem_input{margin-bottom: 20px;}

.problem_ouput{margin-bottom: 20px;}

.problem_hint{margin-bottom: 20px;}

.problem_source{margin-bottom: 20px;}

.comment{position: relative;height: 260px;margin-bottom: 20px;}
.comment textarea{border-radius: 10px;outline: none;resize: none;margin-left: 40px;font-size: 14px;padding:10px;}
.comment a{position: absolute;right: 55px;bottom: 5px;
background: #428BCA;color: #fff;padding: 6px 14px;border-radius: 3px;}

.comment_list{width: 990px;margin-left: 40px;}
.comment_list h4{margin-bottom:5px;font-size: 12px;color: #555; }
.comment_list li{position: relative;border-top: 1px dotted #555;padding: 10px 0 30px 10px;
margin-bottom: 10px;}
.comment_list p{font-size: 14px;}
.comment_list span{font-size: 12px;position: absolute;bottom: 5px;left: 11px;}


/*注册*/
#register{margin: 0 auto;width: 400px;height: 400px; border: 2px solid #eee;padding: 30px;box-shadow: 0 0 5px #eee;}
#register h2{color: #555;}
#register .item_list{font-size: 18px;}
#register .item{padding: 10px 0;}
#register .label{width: 150px;color: #777;}
#register .item_info{width: 200px;}
#register_btn{}

/*footer底部*/
#footer{width: 100%;background: #252525;border-top: 4px solid #555;height: 210px;padding-top: 5px;line-height:1em;min-width: 1260px;}
#footer .tab{position: relative;width: 100%;height: 150px;padding:10px 0;}
#footer .tab p{color: #fff;}
#footer .friends{position: absolute;left: 180px;width: 320px;}
#footer .friends a{padding: 10px;margin-bottom: 10px;display: block;font-size: 16px;border-bottom: 1px dashed #303030;}
#footer .nav{position: absolute;left: 560px;width: 300px;}
#footer .nav li{float: left;}
#footer .nav a{padding: 10px;margin-bottom: 5px;width: 100px; display: block;font-size: 16px;}
#footer .about{position: absolute;left: 940px;width: 320px;}
#footer .about a{padding: 10px;margin-bottom: 10px;display: block;font-size: 16px;border-bottom: 1px dashed #303030;}
#footer .tab li{color: #fff;}
#footer .title{font-size: 20px;margin-bottom: 20px;}
#footer .tab li a{color: #959595;font-size: 14px;padding: 5px;}
#footer .tab li a:hover{text-decoration: underline;}
#footer .info{margin:0 auto; color: #fff;text-align: center;height: 50px;background: #222;font-size: 12px;padding-top: 10px;}
#footer .info a{color: #3498db;}
#footer .info a:hover{color: #3498db;text-decoration: underline;}