<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="程序设计考试 山东工商学院">
    <meta name="keywords" content="Exam,SDIBT,山东工商学院,程序设计考试">
    <!-- yours css -->
    <css file="__PUBLIC__/Exam/style/examsys.min.css"/>
    <!-- Bootstrap -->
    <css file="__PUBLIC__/Exam/style/bootstrap.min.css"/>
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/Exam/style/html5shiv.min.js"></script>
    <script src="__PUBLIC__/Exam/style/respond.min.js"></script>
    <![endif]-->
</head>
<script type="text/javascript">
    var isalert = false;
    var left = {$lefttime} * 1000;
    var savetime = (300 + {$randnum} % 420) * 1000;
    var runtimes = 0;
    function GetRTime() {
        nMS = left - runtimes * 1000;
        if (nMS > 0) {
            var nH = Math.floor(nMS / (1000 * 60 * 60));
            var nM = Math.floor(nMS / (1000 * 60)) % 60;
            var nS = Math.floor(nMS / 1000) % 60;
            document.getElementById("RemainH").innerHTML = (nH >= 10 ? nH : "0" + nH);
            document.getElementById("RemainM").innerHTML = (nM >= 10 ? nM : "0" + nM);
            document.getElementById("RemainS").innerHTML = (nS >= 10 ? nS : "0" + nS);
            if (nMS <= 5 * 60 * 1000 && isalert == false) {
                $('.tixinga').css("color", "red");
                $('.tixingb').css("color", "red");
                isalert = true;
            }
            if (nMS > 0 && nMS <= 1 * 1000) {
                $('#exam').submit();
            }
            //如果出现问题，注释掉下面的if语句
            if (nMS % savetime == 0 && nMS > savetime) {
                saveanswer();
                setTimeout('history.go(0)', 5000);
            }
            runtimes++;
            setTimeout("GetRTime()", 1000);
        }
    }
    window.onload = GetRTime;
</script>

<style>
    .nocopy {
        -moz-user-select: none;
    }

    body {
        padding-top: 0 !important;
    }
</style>
<body oncontextmenu="return false" onselectstart="return false" class="nocopy">
<div class="container">
    <div style="text-align:center">
        <h1>程序设计考试系统<br>
            <small>考试名称:{$row['title']}</small>
        </h1>
    </div>
    <table class='mytxtable'>
        <tr>
            <td class='tixinga'><h4>距考试结束还有:</h4></td>
        </tr>
        <tr>
            <td class='tixingb'><h4><strong id="RemainH">XX</strong>:<strong id="RemainM">XX</strong>:<strong
                    id="RemainS">XX</strong></h4></td>
        </tr>
        <tr>
            <td class='tixing'>
                <button type='button' id='saveanswer' onclick='saveanswer()' class='btn btn-info'>保存答案<span
                        id="saveover"></span></button>
            </td>
        </tr>
        <tr>
            <td>
                <button type="button" id="examsubmit" class='btn btn-danger' data-toggle="modal" data-target="#myModal">
                    交卷
                </button>
            </td>
        </tr>
    </table>
    <form name="exam" id="exam" action="{:U('Exam/Exam/submitpaper')}" method="post">
        <input type="hidden" name="eid" value="{$Think.get.eid}">
        <h4>一.选择题</h4>
        <foreach name='choosesx' item='csx' key='numofchoose'>
            <div class="panel panel-default">
                <div class="panel-heading"><font color='red'>({$allscore['choosescore']} 分)</font>{$numofchoose+1}.{$chooseans[$csx]['question']}
                </div>
                <div class="panel-body">
                    <p>

                    <div class="radio"><label>
                        <if condition="isset($choosearr[$chooseans[$csx]['choose_id']]) and $choosearr[$chooseans[$csx]['choose_id']] eq 'A'">
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="A"
                                   checked>(A) {$chooseans[$csx]['ams']}<br/>
                            <else/>
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="A">(A)
                            {$chooseans[$csx]['ams']}<br/>
                        </if>
                    </label></div>
                    <div class="radio"><label>
                        <if condition="isset($choosearr[$chooseans[$csx]['choose_id']]) and $choosearr[$chooseans[$csx]['choose_id']] eq 'B'">
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="B"
                                   checked>(B) {$chooseans[$csx]['bms']}<br/>
                            <else/>
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="B">(B)
                            {$chooseans[$csx]['bms']}<br/>
                        </if>
                    </label></div>
                    <div class="radio"><label>
                        <if condition="isset($choosearr[$chooseans[$csx]['choose_id']]) and $choosearr[$chooseans[$csx]['choose_id']] eq 'C'">
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="C"
                                   checked>(C) {$chooseans[$csx]['cms']}<br/>
                            <else/>
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="C">(C)
                            {$chooseans[$csx]['cms']}<br/>
                        </if>
                    </label></div>
                    <div class="radio"><label>
                        <if condition="isset($choosearr[$chooseans[$csx]['choose_id']]) and $choosearr[$chooseans[$csx]['choose_id']] eq 'D'">
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="D"
                                   checked>(D) {$chooseans[$csx]['dms']}
                            <else/>
                            <input class="xzda" type="radio" name="xzda{$chooseans[$csx]['choose_id']}" value="D">(D)
                            {$chooseans[$csx]['dms']}
                        </if>
                    </label></div>
                    </p>
                </div>
            </div>
        </foreach>

        <h4>二.判断题</h4>
        <foreach name='judgesx' item='jsx' key='numofjudge'>
            <div class="panel panel-default">
                <div class="panel-heading"><font color='red'>({$allscore['judgescore']} 分)</font>{$numofjudge+1}.{$judgeans[$jsx]['question']}
                </div>
                <div class="panel-body">
                    <p>

                    <div class="radio"><label>
                        <if condition="isset($judgearr[$judgeans[$jsx]['judge_id']]) and $judgearr[$judgeans[$jsx]['judge_id']] eq 'Y'">
                            <input class="pdda" type="radio" name="pdda{$judgeans[$jsx]['judge_id']}" value="Y" checked>Ture
                            <else/>
                            <input class="pdda" type="radio" name="pdda{$judgeans[$jsx]['judge_id']}" value="Y">Ture
                        </if>
                    </label></div>
                    <div class="radio"><label>
                        <if condition="isset($judgearr[$judgeans[$jsx]['judge_id']]) and $judgearr[$judgeans[$jsx]['judge_id']] eq 'N'">
                            <input class="pdda" type="radio" name="pdda{$judgeans[$jsx]['judge_id']}" value="N" checked>False
                            <else/>
                            <input class="pdda" type="radio" name="pdda{$judgeans[$jsx]['judge_id']}" value="N">False
                        </if>
                    </label></div>
                    </p>
                </div>
            </div>
        </foreach>

        <h4>三.填空题</h4>
        <foreach name='fillsx' item='fsx' key='numoffill'>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <if condition="$fillans[$fsx]['kind'] eq 1">
                        <font color='red'>({$allscore['fillscore']*$fillans[$fsx]['answernum']} 分)</font>
                        <elseif condition="$fillans[$fsx]['kind'] eq 2"/>
                        <font color='red'>({$allscore['prgans']} 分)</font>
                        <else/>
                        <font color='red'>({$allscore['prgfill']} 分)</font>
                    </if>
                    {$numoffill+1}.{$fillans[$fsx]['question']}
                </div>
                <div class="panel-body">
                    <p>
                        <for start='1' end="$fillans[$fsx]['answernum']+1">
                            答案{$i}.<input type="text" maxlength="100" name="{$fillans[$fsx]['fill_id']}tkda{$i}"
                                          value="{$fillarr[$fillans[$fsx]['fill_id']][$i]|default=''}"
                                          class='form-control'><br/>
                        </for>
                    </p>
                </div>
            </div>
        </foreach>
    </form>

    <h4>四.程序设计题</h4>
    <foreach name='programans' item='pans' key='numofprogram'>
        <div class="panel panel-default">
            <div class="panel-heading"><font color='red'>({$allscore['programscore']} 分)</font>
                第{$numofprogram+1}题.{$pans['title']|nl2br}<a class="btn-sm btn btn-success" data-toggle="collapse"
                                                             href="#collapseExample{$pans['program_id']}"
                                                             aria-expanded="false" aria-controls="collapseExample">点击开闭
                </a></div>

            <div class="collapse" id="collapseExample{$pans['program_id']}">
                <div class="panel-body">
                    <h4><strong>Description</strong></h4>

                    <p>{$pans['description']}</p>
                    <h4><strong>Input</strong></h4>

                    <p>{$pans['input']}</p>
                    <h4><strong>Output</strong></h4>

                    <p>{$pans['output']}</p>
                    <h4><strong>Sample Input</strong></h4>

                    <p>{$pans['sample_input']|nl2br}</p>
                    <h4><strong>Sample Output</strong></h4>

                    <p>{$pans['sample_output']|nl2br}</p>

                    <p>
                        <label for="code{$pans['program_id']}">Code here:</label>
						<textarea class='form-control' id="code{$pans['program_id']}" name="code{$pans['program_id']}"
                                  rows="30">
						</textarea>
                    </p>
                </div>
                <div class="panel-footer row">
                    <div class="col-md-2">
                        <select id="language{$pans['program_id']}" class='form-control'>
                            <option value="0">C</option>
                            <option value="1" selected>C++</option>
                            <option value="2">Pascal</option>
                            <option value="3">Java</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-success"
                                onclick="submitcode('span{$pans['program_id']}','code{$pans['program_id']}','language{$pans['program_id']}','{$pans['program_id']}','{$Think.get.eid}')">
                            提交
                        </button>
                    </div>
                    <div class="col-md-3">
                        <button class='btn btn-info'
                                onclick="updateresult(this,'span{$pans['program_id']}','{$pans['program_id']}','{$Think.get.eid}')">
                            点击刷新结果
                        </button>
                    </div>
                    <div class="col-md-4">
                        <span id="span{$pans['program_id']}"><font color='green' size='3px'>未提交</font></span>
                    </div>
                </div>
            </div>
        </div>
    </foreach>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">操作确认</h4>
            </div>
            <div class="modal-body">确定要提交试卷吗？提交后无法撤销!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="submitpaper()">确定</button>
            </div>
        </div>
    </div>
</div>
<js file="__PUBLIC__/js/jquery-1.11.3.min.js"/>
<js file="__PUBLIC__/Exam/js/bootstrap.min.js"/>
<js file="__PUBLIC__/Exam/js/Home.min.js"/>
</body>
<script type="text/javascript">
    $(function () {
        $("body").keydown(function (event) {
            if (event.keyCode == 116) {
                event.returnValue = false;
                alert("当前设置不允许使用F5刷新键");
                return false;
            }
            if ((event.ctrlKey) && (event.keyCode == 83)) {
                event.returnValue = false;
                alert("当前设置不允许使用Ctrl+S键");
                return false;
            }
            if (event.keyCode == 123) {
                event.returnValue = false;
                alert("当前设置不允许使用F12键");
                return false;
            }
        });
    });
    var answersaveurl = "{:U('Exam/Exam/saveanswer')}";
    var codesubmiturl = "{:U('Exam/Exam/prgsubmit')}";
    var updresulturl  = "{:U('Exam/Exam/updresult')}";
</script>
</html>
