<div id="footer">
    <div class="tab">
        <ul class="friends ">
            <p class="title">友情链接</p>
            <li><a href="#">Firefox</a></li>
            <li><a href="#">CodeBlocks for Win</a></li>
        </ul>
        <ul class="nav">
            <p class="title">主站导航</p>
            <li><a href="#">Home</a></li>
            <li><a href="#">ProblemSet</a></li>
            <li><a href="#">Ranklist</a></li>
            <li><a href="#">Contest</a></li>
            <li><a href="#">Exam</a></li>
        </ul>
        <ul class="about ">
            <p class="title">关于我们</p>
            <li><a href="#">Blob</a></li>
            <li><a href="#">省赛排名</a></li>
        </ul>
    </div>
    <div class="info">
        <span><a href="">中文</a>&nbsp;&nbsp;&nbsp;<a href="">English</a></span><br/>
        @Copyright @SDIBT_ACM | Any Problems, Please Contact Admin:<a href="#">admin</a>
    </div>
</div>
</body>
</html>