<div id="footer">
    <div class="tab">
        <ul class="friends ">
            <p class="title">下载链接</p>
            <li><a href="#">Firefox</a></li>
            <li><a href="#">CodeBlocks for Win</a></li>
        </ul>
        <ul class="nav">
            <p class="title">主站导航</p>
            <li><a href="{:U('/')}">Home</a></li>
            <li><a href="{:U('Home/Problem/plist')}">ProblemSet</a></li>
            <li><a href="{:U('Home/Index/ranklist')}">Ranklist</a></li>
            <li><a href="#">Contest</a></li>
            <li><a href="{:U('Exam/Index/index')}">Exam</a></li>
        </ul>
        <ul class="about ">
            <p class="title">关于我们</p>
            <li><a href="#">Blog</a></li>
            <li><a href="#">省赛排名</a></li>
        </ul>
    </div>
    <div class="info">
        <p><span><a href="">中文</a>&nbsp;&nbsp;&nbsp;<a href="">English</a></span></p>
        <p>@Copyright &copy;SDIBT_ACM | Any Problems, Please Contact Admin:<a href="#">admin</a></p>
    </div>
</div>
</body>
</html>