<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="style/style.css">
<link rel="stylesheet" type="text/css" href="style/reset.css">

<title>首页</title>
</head>
<body>
    <div class="wrap">
        <div id="header" class="comWidth">
            <div class="logo fl">
                <a href=""><img src="images/logo.jpg" /></a>
            </div>
                <div class="login_register">
                        <a href="#" class="login">Login</a>
                        <span>|</span>
                        <a href="#" class="register">Register</a>
                    </div>
                <div>
                <div class="nav">
                    <ul class="nav_list fl">
                        <li><a href="#">Virtual Judge</a></li>
                        <li><a href="#" class="active">Home</a></li>
                        <li class="hidden_nav"><a href="#" >F.A.Qs</a>
                        <ul>
                            <li><a href="#">Discuss</a></li>
                            <li><a href="#">Introduce</a></li>   
                            <li><a href="#">Recent Contest</a></li> 
                            </ul>
                        </li>
                        <li><a href="#">ProblemSet</a></li>
                        <li><a href="#">Status</a></li>
                        <li><a href="#">Ranklist</a></li>
                        <li><a href="#">Contest</a></li>
                        <li><a href="#">Exam</a></li>  
                    </ul>
                    <div class="search fl">
                        <img src="images/search.png" alt="搜索" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>