<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/style.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/reset.css"> -->

<title>首页</title>
</head>
<body>
    <div class="wrap clearfix">
        <div id="content" class="fl">
            <div class="info">
                <p class="title">ACM/ICPC简介</p>
                <div class="entry">
                    <p>ACM国际大学生程序设计竞赛（简称ACM-ICPC）是由国际计算机界具有悠久历史的权威性组织ACM学会（Association for Computing Machinery）主办，是世界上公认的规模最大、水平最高、参与人数最多的大学生程序设计竞赛，其宗旨是使大学生能通过计算机充分展示自己分析问题和 解决问题的能力。ACM-ICPC赛事是目前国内高校承办的唯一一项具有国际影响的计算机竞赛，受到教育界和工业界的高度重视和承认。赛事目前由 IBM 公司赞助。</p>
                </div>
            </div>
            <div class="info">
                <p class="title">纳新</p>
                <div class="entry">
                    <p>如果你想深入学习编程，并且和全国最杰出的计算机程序员比赛交流，加入到这个团队里来，期待着你的加入和精彩表现！！！
    你有兴趣吗？请先看看下面的几个问题：</p>
                <ul>
                    <li>1.你是否对程序的设计和编写有浓厚的兴趣？兴趣是坚持的动力。</li>
                    <li>2.你是否有毅力去做这件事情？训练的时间很长，短期内不会出成绩。</li>
                    <li>3.你是否有足够的心理承受力去面对失败和挫折？题目难，竞争激烈。</li>
                    <li>4.你是否能很好地与人相处？因为我们是一个团队。</li>
                    <span>如果以上问题你都是“YES”，那么我们热烈的欢迎你的加入。信箱: <a href="#">sdibtacm@126.com。</a></span>
                </ul>
                </div>
            </div>
        </div>
        <div id="side_bar" class="fr">
            <ul>
                <li class="classify">Problem分类</li>
                <li>初学者(1000-1012)</li>
                <li>C语言(1500-1551)</li>
                <li>简单题(1800-1931)</li>
                <li>数据结构(2600-2755)</li>
                <li>算法分析(1288-1391)</li>
                <li>《挑战编程》(1013-1125)</li>
                <li>《ACM程序设计》(1134-1192)</li>
                <li>USACO Training(2300-2393)</li>
                <li>第一届山东省赛题目(2400-2409)</li>
                <li>第三届山东省赛题目(3240-3249)</li>
                <li>第四届山东省赛题目(3230-3239)</li>
            </ul>
        </div>
    </div>
</body>
</html>