<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>首页</title>
</head>
<body>
    <div class="wrap">

        <div class="problem_title">
           <h2>链表(线性表)</h2>
        </div>
       <div class="problem_info clearfix">
               <ul class="head clearfix">
                  <li>Time Limit</li>
                  <li>Memory Limit</li>
                  <li>Submit</li>
                  <li>Solved</li>
               </ul>
               <ul class="body clearfix">
                  <li>1 Sec</li>
                  <li>128 MB</li>
                  <li>114</li>
                  <li>114</li>
               </ul>
       </div>
       <div class="problem_description">
           <h3 class="title">Description</h3>
           <p>（线性表）设有一个正整数序列组成的有序单链表（按递增次序有序，且允许有相等的整数存在），试编写能实现下列功能的算法 ：（要求用最少的时间和最小的空间）
(1)确定在序列中比正整数x大的数有几个（相同的数只计算一次）；
(2) 在单链表将比正整数x小的数按递减次序排列；</p>
       </div>
       <div class="problem_input">
          <h3 class="title">Input</h3>
           <p>输入长度：13
                输入数据：4 5 7 7 8 10 11 15 15 16 17 20 20
                输入x：10</p>
       </div>
       <div class="problem_ouput">
           <h3 class="title">Ouput</h3>
           <p>5</p>
           <p>8 7 7 5 4</p>
       </div>
       <div class="problem_hint">
          <h3 class="title">Hint</h3>
          <p>提示提示提示提示提示提示提示提示</p>
       </div>
       <div class="problem_source">
          <h3 class="title">Source</h3>
          <p>来源来源来源来源来源来源</p>
       </div>
       <div class="problem_menu_list clearfix">
         <ul>
             <li><a href="#">SUBMIT</a></li>
             <li><a href="#">STATUS</a></li>
         </ul>
       </div>
       <div class="comment">
         <h3 class="title">评论</h3>
         <form>
           <textarea rows="10" cols="150"></textarea>
           <a href="#"><span>评论</span></a>
           </form>
         </form>
       </div>
       <div class="comment_list">
         <ul>
           <li>
              <h4>名称名称</h4>
              <p>这是一大串废话这是一大串废话这是一大串废话这是一大串废话这是一大串废话这是一大串废话这是一大串废话这是一大串废话这是一大串废话</p>
              <span>时间：2015-08-21</span>
           </li>
           <li>
              <h4>名称名称</h4>
              <p>这是一大串废话这是一大串废话这是一大串废话这是一大串废话这是一大串废话这是一大串废话这是一大串废话这是一大串废话这是一大串废话</p>
              <span>时间：2015-08-21</span>
           </li>
           <li>
              <h4>名称名称</h4>
              <p>这是一大串废话这是一大串废话这是一大串废话这是一大串废话这是一大串废话这是一大串废话这是一大串废话这是一大串废话这是一大串废话</p>
              <span>时间：2015-08-21</span>
           </li>
           <li>
              <h4>名称名称</h4>
              <p>这是一大串废话这是一大串废话这是一大串废话这是一大串废话这是一大串废话这是一大串废话这是一大串废话这是一大串废话这是一大串废话</p>
              <span>时间：2015-08-21</span>
           </li>
         </ul>
       </div>
    </div>
    <br/><br/><br/><br/><br/><br/>
</body>
</html>