<title>problem list</title>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
<script>

</script>
<div id="problem_list" class="clearfix">
   <div class="problem_list_search">
      <form>
          <!-- <span class="search_title fl">Search</span> -->
          <select class="search_select">
            <option value="0">ProblemId</option>
            <option value="1">Title</option>
            <option value="2">Source</option>
          </select>
          <div class="search_text">
            <input type="text" />
          </div>
          
          <button type="submit" class="search_btn">
            <span>搜 索</span>
          </button>
      </form>
   </div> 
   <table class="table_list" border="1">
       <thead>
           <tr>
               <th class="plist_id">Problem ID</th>
               <th class="plist_title">Title</th>
               <th class="plist_ratio">Ratio(AC/Submit)</th>
               <th class="plist_difficulty">Difficulty</th>
               <th class="plist_data">Date</th>
           </tr>
       </thead>
       <tbody>
           <for start="1" end="100">
             <tr>
               <td class="plist_id">1002</td>
               <td class="plist_title">用筛法求之N内的素数。(程序填空)</td>
               <td class="plist_ratio">30%(437/1459)</td>
               <td class="plist_difficulty">70%</td>
               <td class="plist_data">2015-10-16</td>
             </tr>
           </for>

       </tbody>
   </table>
   <div class="page fr">
     <ul class="page_list">
       <li><a href="#" ><span>上一页</span></a></li>
       <li><a href="#" class="page_active"><span>1</span></a></li>
       <li><a href="#"><span>2</span></a></li>
       <li><a href="#"><span>3</span></a></li>
       <li><a href="#"><span>4</span></a></li>
       <li><a href="#"><span>5</span></a></li>
       <li><a href="#"><span>6</span></a></li>
       <li><a href="#"><span>7</span></a></li>
       <li><a href="#"><span>8</span></a></li>
       <li><a href="#"><span>9</span></a></li>
       <li><a href="#"><span>... 32</span></a></li>
       <li class="page_input"><input type="text" class="page_txt" /><em>/<span>32页</span></em></li>
       <li><a href="#"><span>下一页</span></a></li>
       
     </ul>
   </div>
</div>
</div> <!--end of wrap-->