<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="程序设计考试 山东工商学院">
	<meta name="keywords" content="Exam,SDIBT,山东工商学院,程序设计考试">
	<!-- yours css -->
	<css file="__PUBLIC__/Exam/style/examsys.min.css" />
	<!-- Bootstrap -->
	<css file="__PUBLIC__/Exam/style/bootstrap.min.css" />
	<!--[if lt IE 9]>
		<script src="__PUBLIC__/Exam/js/html5shiv.min.js"></script>
		<script src="__PUBLIC__/Exam/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<div class="navbar navbar-fixed-top navbar-default exam_header" role="navigation">
  <div class="container">
  	<div class="navbar-header">
  	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
  	  data-target="#header-navbar">
  	  	<span class="sr-only">header toggle</span>
  	  	<span class="icon-bar"></span>
  	  	<span class="icon-bar"></span>
  	  	<span class="icon-bar"></span>
  	  </button>
  	  <a href="#" class="navbar-brand exam_navbar-brand">程序设计考试后台管理</a>
  	</div> <!-- navbar-header-end -->
	<div class="collapse navbar-collapse" id="header-navbar">
	<ul class="nav navbar-nav">
	  <li id='navexam'><a href="{:U('/Teacher')}">考试管理</a></li>
	  <li id='navchoose'><a href="{:U('Teacher/Index/choose')}">选择题管理</a></li>
	  <li id='navjudge'><a href="{:U('Teacher/Index/judge')}">判断题管理</a></li>
	  <li id='navfill'><a href="{:U('Teacher/Index/fill')}">填空题管理</a></li>
	  <li id='navpoint'><a href="{:U('Teacher/Index/point')}">知识点管理</a></li>
	  <li><a href="{:U('/Exam')}">退出管理页面</a></li>
	</ul> <!-- first ul end -->
	<ul class="nav navbar-nav navbar-right">
		<li><a href="javascript:;">欢迎您： {$Think.session.user_id}</a></li>
	</ul> <!-- the second ul end -->
   </div> <!-- collapse navbar-collapse end -->
  </div> <!-- container-fluid end -->
</div> <!-- navbar end -->

<js file="__PUBLIC__/js/jquery-1.11.3.min.js" />
<js file="__PUBLIC__/Exam/js/Teacher.min.js" />
<script>
	$(function(){
		var url = window.location.href;
		if(url.indexOf('fill')!=-1){
			$("#navfill").addClass('active');
		}
		else if(url.indexOf('choose')!=-1){
			$("#navchoose").addClass('active');
		}
		else if(url.indexOf('judge')!=-1){
			$("#navjudge").addClass('active');
		}
		else if(url.indexOf('point')!=-1){
			$("#navpoint").addClass('active');
		}
		else{
			$("#navexam").addClass('active');
		}
	});
</script>