<div id="login" class="clearfix">
    <div>
        <h2>WELCOME TO SDIBT ONLINE JUDGE</h2>
    </div>
    <form method="post" id="login_form">
        <div class="item_list">
            <div class="item clearfix">
                <div class="label fl">
                    <span>User ID</span>
                </div>
                <div class="item_info fl">
                    <input type="text" name="userid" id="login_userid"></div>
            </div>
            <div class="item clearfix">
                <div class="label fl">
                    <span>Password</span>
                </div>
                <div class="item_info fl">
                    <input type="password" name="password" id="login_password"></div>
            </div>
        </div>
        <div >
            <input type="button" class="login_btn" value="登陆" />
        </div>
    </form>
    </div>
</div><!--end of wrap  -->