<div id="login" class="clearfix">
    <div>
        <h2>WELCOME TO SDIBT ONLINE JUDGE</h2>
    </div>
    <form method="post" id="login_form">
        <div class="item_list">
            <div class="item clearfix">
                <div class="label fl">
                    <span>User ID</span>
                </div>
                <div class="item_info fl">
                    <input type="text"></div>
            </div>
            <div class="item clearfix">
                <div class="label fl">
                    <span>Password</span>
                </div>
                <div class="item_info fl">
                    <input type="text"></div>
            </div>
        </div>
        <div >
            <button type="submit"  class="login_btn">
                <span>登陆</span>
            </button>
        </div>
    </form>
    </div>
</div><!--end of wrap  -->