<title>注册</title>
<div id="register" class="clearfix">
    <div>
        <h2>WELCOME TO SDIBT ONLINE JUDGE</h2>
    </div>
    <form method="post" id="register_form">
        <div class="item_list">
            <div class="item clearfix">
                <div class="label fl">
                    <span>User ID</span>
                </div>
                <div class="item_info fl">
                    <input type="text" name="register_userid" id="register_userid">
                </div>
            </div>
            <div class="item clearfix">
                <div class="label fl">
                    <span>Nick Name</span>
                </div>
                <div class="item_info fl">
                    <input type="text" name="nick" id="nick" />   
                </div>
            </div>
            <div class="item clearfix">
                <div class="label fl">
                    <span>Password</span>
                </div>
                <div class="item_info fl">
                    <input type="text" name="register_password" id="register_password"></div>
            </div>
            <div class="item clearfix">
                <div class="label fl">
                    <span>Repeat Password</span>
                </div>
                <div class="item_info fl">
                    <input type="password" name="rptpassword" id="rptpassword"></div>
            </div>
            <div class="item clearfix">
                <div class="label fl">
                    <span>School</span>
                </div>
                <div class="item_info fl">
                    <input type="text" name="school" id="school"></div>
            </div>
            <div class="item clearfix">
                <div class="label fl">
                    <span>Email</span>
                </div>
                <div class="item_info fl">
                    <input type="text" name="email" id="email"></div>
            </div>
            <div class="item clearfix">
                <div class="label fl">
                    <span>Verity Code</span>
                </div>
                <div class="item_info fl">
                    <input type="text" name="vcode" id="vcode"></div>
            </div>
        </div>

        <input class="register_btn" value="立即注册" type="button" />
    </form>
</div>
</div> <!--end of wrap-->

