<title>注册</title>
<div id="register" class="clearfix">
	<div>
		<h2>WELCOME TO SDIBT ONLINE JUDGE</h2>
	</div>
    
    	<form method="post" >
    	<div class="item_list">
    	<div class="item clearfix">
    		<div class="label fl">
    			<span>User ID</span>
    		</div>
    		<div class="item_info fl">
    			<input type="text">
    		</div>
    	</div>
    	<div class="item clearfix">
    		<div class="label fl">
    			<span>Nick Name</span>
    		</div>
    		<div class="item_info fl">
    			<input type="text" />
    		</div>
    	</div>
    	<div class="item clearfix">
    		<div class="label fl">
    			<span>Password</span>
    		</div>
    		<div class="item_info fl">
    			<input type="text">
    		</div>
    	</div>
    	<div class="item clearfix">
    		<div class="label fl">
    			<span>Repeat Password</span>
    		</div>
    		<div class="item_info fl">
    			<input type="text">
    		</div>
    	</div>
    	<div class="item clearfix">
    		<div class="label fl">
    			<span>School</span>
    		</div>
    		<div class="item_info fl">
    			<input type="text">
    		</div>
    	</div>
    	<div class="item clearfix">
    		<div class="label fl">
    			<span>Email</span>
    		</div>
    		<div class="item_info fl">
    			<input type="text">
    		</div>
    	</div>
    	<div class="item clearfix">
    		<div class="label fl">
    			<span>Type</span>
    		</div>
    		<div class="item_info fl">
    			<input type="text">
    		</div>
    	</div>
    </div>	
    <input type="button" value="注 册" id="register_btn" />
    </form>
    
</div>
</div> <!--end of wrap-->