<div class="container exam_content">
<h2>添加填空题</h2>
<include file='Public:sideheader' />
<form class='form-inline'>
<input type="hidden" name="page" value="{$mypage['page']}" >
<input type="hidden" name="problem" value="{$problem}" >
<div class="form-group">
	<input type="text" class="form-control input-lg search-input" id="search" name='search' value="{$search}" placeholder="查询创建者或考试名称">
</div>
<button type="submit" class="btn btn-default btn-lg">Search</button>
</form>
<div class='row'>
	<div class="col-md-2">
		<h1><input type="button" value="查看公共题库" class="btn btn-default" onclick="window.location.href='?problem=0'"></h1>
	</div>
	<div class="col-md-2">
		<h1><input type="button" value="查看私人题库" class="btn btn-default" onclick="window.location.href='?problem=1'"></h1>
	</div>
	<if condition="$isadmin eq true">
		<div class="col-md-2">
			<h1><input type="button" value="查看隐藏题库" class="btn btn-default" onclick="window.location.href='?problem=2'"></h1>
		</div>
	</if>
</div>
<table class="table table-hover table-bordered table-condensed">
	<thread>
		<th width=4%>ID</th>
		<th width=30%>题目描述</th>
		<th width=8%>创建者</th>
		<th width=8%>知识点</th>
		<th width=8%>题型</th>
		<th width=4%>难度</th>
		<th width=8% colspan="2">操作</th>
	</thread>
	<tbody>
		<foreach name='row' item='r' key='k'>
			<tr>
				<td>{$numoffill+$k}</td>
				<td align='left'><a href="{:U('Teacher/Add/fill',array('id'=>$r['fill_id']))}">{$r['question']|cutstring}...</a>
				<a tabindex="0" class="pull-right btn btn-xs btn-danger" role="button" data-toggle="popover" data-trigger="focus" data-content="{$r['question']}">展开>></a>
				</td>
				<div class="clearfix"></div>
				<td>{$r['creator']}</td>
				<td>{$r['point']}</td>
				<if condition="$r['kind'] eq 1">
				<td><span class="label label-info">基础填空题</span></td>
				<else/>
					<if condition="$r['kind'] eq 2">
					<td><span class="label label-info">写运行结果</span></td>
					<else/>
					<td><span class="label label-info">程序填空题</span></td>
					</if>
				</if>
				<td>{$r['easycount']}</td>
				<if condition="isset($added[$r['fill_id']]) and $added[$r['fill_id']] gt 0">
					<td>已添加</td>
				<else/>
				<td><a href="##" onclick="addtoexam(this,{$eid},{$r['fill_id']},3)">添加到试卷</a></td>
				</if>
			</tr>
		</foreach>
	</tbody>
</table>
{$mypage|showpagelast=###,U("Teacher/Problem/add",array('eid'=>$eid,'type'=>$type)),"search=$search&problem=$problem"}
</div>
<script type="text/javascript">
$(function(){
	$("#exam_fill").addClass('active');
	$('[data-toggle="popover"]').popover();
});
var addtoexamurl = "{:U('Teacher/Problem/addpte')}";
</script>