<style>
    #examFooter, #examFooter ul li {
        background-color: #252525;
        text-align: center;
    }
    #examFooter .container {
        padding-top: 30px;
    }
    #examFooter ul li {
        border: none;
        color:white;
        font-size: 20px;
    }
    #examFooter ul li a , #examFooter p{
        font-size: 15px;
        color : #959595;
    }
</style>
<footer id="examFooter">
    <div class="container">
        <ul class="list-group col-md-4">
            <li class="list-group-item">下载链接</li>
            <li class="list-group-item"><a href="http://acm.sdibt.edu.cn/download/Firefox.exe">Firefox</a></li>
            <li class="list-group-item"><a href="http://acm.sdibt.edu.cn/download/codeblocks-12.11mingw-setup.exe">CodeBlocks for Win</a></li>
        </ul>
        <ul class="list-group col-md-4">
            <li class="list-group-item">主站导航</li>
            <li class="list-group-item"><a href="http://acm.sdibt.edu.cn/JudgeOnline/faqs.php">F.A.Qs</a></li>
            <li class="list-group-item"><a href="http://acm.sdibt.edu.cn/JudgeOnline/contest.php">Contest</a></li>
            <li class="list-group-item"><a href="http://acm.sdibt.edu.cn/JudgeOnline/ranklist.php">Ranklist</a></li>
            <li class="list-group-item"><a href="http://acm.sdibt.edu.cn/JudgeOnline/problemset.php">ProblemSet</a></li>
            <li class="list-group-item"><a href="http://acm.sdibt.edu.cn/JudgeOnline/stuexam/">Examination</a></li>
        </ul>
        <ul class="list-group col-md-3">
            <li class="list-group-item">关于我们</li>
            <li class="list-group-item"><a href="http://acm.sdibt.edu.cn/blog/">博客</a></li>
            <li class="list-group-item"><a href="http://acm.sdibt.edu.cn/ranklist/">省赛排名</a></li>
            <li class="list-group-item"><a href="http://acm.sdibt.edu.cn:8001">训练计划</a></li>
        </ul>
    <div class="col-md-offset-2 col-md-8">
        <p>@Copyright&copy;SDIBT_ACM | Any Problems, Please Contact Admin:<a href="mailto:sdibtacm@126.com">admin</a></p>
    </div>
    </div>
</footer>
<js file="__PUBLIC__/Exam/js/bootstrap.min.js"/>
</body>
</html>