<div class="container exam_content" style='text-align:left'>
	<div style="text-align:center">
		<h1>{$title|default=""}</h1>
		<h3>考生账号:{$Think.get.users}</h3>
	</div>

	<h4>一.选择题</h4>
	<foreach name='chooseans' item='cans' key='numofchoose'>
	<div class="panel panel-default">
		<div class="panel-heading"><font color='red'>({$allscore['choosescore']} 分)</font>{$numofchoose+1}.{$cans['question']}</div>
		<div class="panel-body">
			<p>(A) {$cans['ams']}<br/>(B) {$cans['bms']}<br/>(C) {$cans['cms']}<br/>(D) {$cans['dms']}</p>
		</div>
		<div class="panel-footer"><strong>我的答案:{$choosearr[$cans['choose_id']]|default=""}<br/>正确答案:{$cans['answer']}</strong></div>
	</div>
	</foreach>

	<h4>二.判断题</h4>
	<foreach name='judgeans' item='jans' key='numofjudge'>
		<div class="panel panel-default">
			<div class="panel-heading"><font color='red'>({$allscore['judgescore']} 分)</font>{$numofjudge+1}.{$jans['question']}</div>
			<div class="panel-body"><strong>我的答案:{$judgearr[$jans['judge_id']]|default=""}</strong></div>
			<div class="panel-footer"><strong>正确答案:{$jans['answer']}</strong></div>
		</div>
	</foreach>

	<h4>三.填空题</h4>
	<foreach name='fillans' item='fans' key='numoffill'>
		<div class="panel panel-default">
			<div class="panel-heading">
				<if condition="$fans['kind'] eq 1">
					<font color='red'>({$allscore['fillscore']*$fans['answernum']} 分)</font>
				<elseif condition="$fans['kind'] eq 2" />
					<font color='red'>({$allscore['prgans']} 分)</font>
				<else/>
					<font color='red'>({$allscore['prgfill']} 分)</font>
				</if>
			{$numoffill+1}.{$fans['question']}</div>
			<div class="panel-body">
				<for start='1' end="$fans['answernum']+1">
					<if condition="$i eq 1">
						<strong>我的答案:</strong>
					</if>
					<strong>答案({$i}) {$fillarr[$fans['fill_id']][$i]|default=''}</strong>
				</for>
			</div>
			<div class="panel-footer">
				<foreach name="fillans2[$fans['fill_id']]" item='tmprow' key='k'>
					<if condition='$k eq 0'>
						<strong>正确答案:</strong>
					</if>
					<strong>答案({$tmprow['answer_id']}) {$tmprow['answer']|default=''}    </strong>
				</foreach>
			</div>
		</div>
	</foreach>
</div>